/* Write your CSS here */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-title {
  margin-right: 30px;
  color: #000000;
  font-family: 'Roboto';
  font-weight: 400;
}
.delete-button {
  color: #ff0b37;
  border: 1px solid #ff0b37;
  background-color: transparent;
  padding: 8px;
  border-radius: 4px;
  font-weight: 600;
}
